# AeroFinder Backend API
fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.6.1

# DB
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0

# Crawling & parsing
httpx==0.28.1
beautifulsoup4==4.12.3
curl_cffi>=0.7.0
playwright>=1.49.0

# Scheduler
apscheduler==3.10.4


# Utils
python-multipart==0.0.17
firebase-admin>=6.6.0
